APP_NAME=files-service
DEBUG=true
LOG_LEVEL=DEBUG

# Database
DATABASE_URL=postgres://postgres:postgres@postgres:5432/files_db

# Redis
REDIS_URL=redis://redis:6379/2

# S3 / MinIO
S3_ENDPOINT_URL=http://host.containers.internal:9000
S3_PUBLIC_URL=http://localhost:9000
S3_ACCESS_KEY=minioadmin
S3_SECRET_KEY=minioadmin
S3_BUCKET=uploads
S3_REGION=us-east-1

# Server
HOST=0.0.0.0
PORT=8005
