APP_NAME={{ service_name }}-service
DEBUG=true
LOG_LEVEL=DEBUG
{%- if needs_postgres %}

# Database
DATABASE_URL=postgres://postgres:postgres@postgres:5432/{{ service_name }}_db
{%- endif %}
{%- if needs_redis %}

# Redis
REDIS_URL=redis://redis:6379/0
{%- endif %}

# Server
HOST=0.0.0.0
PORT={{ port }}
